@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.headings {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.6;
}

/* .body-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
} */

/* NavBar */
* {
    margin: 0%;
    padding: 0%;
}

.navigation {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: #262626;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #262626;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

/* ====== */



/* Slide Out */
.slideout {
    position: fixed;
    right: 0;
    top: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 1;
}

#hand {
    background: #e6eff7;
    cursor: pointer;
    border-radius: 100px 0 0 100px;
    padding: 10px 10px 10px 15px;
    border-right: 3px solid rgb(255, 128, 0);
}

#hand .bell {
    width: 2rem;
    animation: shake 1s linear infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#sticky-button {
    background: #e6eff7;
    width: 320px;
    margin-right: -320px;
    transition: margin 0.2s ease-out;
    position: relative;
}

#sticky-button.active {
    margin-right: 0px;
    padding: 0px 10px;
    transition: margin 0.2s ease-out;
    overflow: overlay;
    height: 70vh;
}

.slideout ::-webkit-scrollbar {
    width: 8px;
}

.slideout ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #8f969b;
    border-radius: 10px;
}

.slideout ::-webkit-scrollbar-thumb {
    background: rgb(255, 128, 0);
    border-radius: 10px;
}

.slideout-head {
    padding: 0px 5px;
    margin: 5px 0px;
}

.slideout .card-description {
    margin: 0;
}

.slideout-link {
    text-decoration: none;
    color: rgb(255, 128, 0);
}

.slideout-heading {
    margin: 5px 0;
}

.slideout .card {
    padding: 5px;
    border-bottom: 2px solid #d3dbe2;
    color: #74787c;
}

.slideout .card-heading {
    margin: 5px 0px;
}

.slideout .card-date,
.slideout .card-time {
    margin: 5px 10px;
    display: inline-block;
}

/* ======= */

/* Hero Carousel Banner */

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
    /* hide all slide images not currently being viewed */
}

.carousel .carousel-item-visible {
    display: block;
    /* show current slide image */
    animation: fadeVisibility 0.5s;
    /* for fading effect when switching between slides */
}

.carousel .carousel-item img {
    width: 100%;
}

/* ======= */

/* About US */
.about {
    /* background-color: rgba(14, 116, 188, 0.25); */
    background-color: #c1dbfd;
    color: #282828;
    padding: 4rem;
}

.about-madeit,
.about-iiit {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.about-madeit {
    margin-top: 4rem;
}

.img-iiit,
.img-madeit {
    width: 40vw;
}

.img-madeit {
    border-radius: 10px;
    border: 0px;
    height: 350px;
}

.desc {
    color: #585858;
}

.desc-iiit {
    padding-right: 3rem;
}

.desc-madeit {
    padding-left: 3rem;
}

.about-iiit {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}

.trans-right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}

.about-madeit {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
}

.trans-left {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.5s;
}

/* ======== */

/* Impact */
.impact {
    /* background-color: rgba(249, 148, 31, 0.25); */
    background-color: #FFD3B4;
    color: #343434;
}

.impact-heading {
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
    color: #292929;
}

.count {
    line-height: 100px;
    color: white;
    margin-left: 30px;
    font-size: 25px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 2rem;
    padding: 50px 20px;
}

.cnt {
    display: inline-block;
}

.metric {
    text-align: center;
    margin: 30px;
    transform: scale(0.5);
}

.metric-show {
    transform: scale(1);
}

.metric-show:nth-of-type(1) {
    transition: transform 0.9s cubic-bezier(0.32, 0, 0.67, 0);
}

.metric-show:nth-of-type(2) {
    transition: transform 0.9s cubic-bezier(0.33, 1, 0.68, 1);
}

.metric-show:nth-of-type(3) {
    transition: transform 0.9s cubic-bezier(0.64, 0, 0.78, 0);
}

.metric-show:nth-of-type(4) {
    transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.metric-show:nth-of-type(5) {
    transition: transform 0.9s cubic-bezier(0.55, 0, 1, 0.45);
}

.metric-show:nth-of-type(6) {
    transition: transform 0.9s cubic-bezier(0, 0.55, 0.45, 1);
}

.metric-show:nth-of-type(7) {
    transition: transform 0.9s cubic-bezier(.72, -0.98, .24, 1.83);
}

/* ======= */

/* ROAD Map */
.roadmap {
    background-color: #e7eef7;
    color: #343434;
    padding: 20px;
}

.item {
    display: flex;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    border: 2px solid black;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.step {
    display: flex;
}

.step h1,
.step p {
    margin: 0;
}

/* ======== */

/* Eco system */
.ecosys {
    /* background-color: rgba(14, 116, 188, 0.25); */
    background-color: #c1dbfd;
    color: #000000;
}

.ecosys img {
    width: 100vw;
}

/* ========== */

/* Partners */
.partners {
    /* background-color: rgba(249, 147, 29, 0.25); */
    background-color: rgba(254, 168, 103, 0.5);
    color: #000001;
}

.com {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.com img {
    width: 25vw;
    margin: 25px 10px;
}

/* ======== */

/* testmonials */
.testmonials {
    /* background-color: rgba(20, 167, 157, 0.25); */
    background-color: rgba(26, 200, 188, 0.5);
    color: #00212B;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.caro {
    overflow: hidden;
}

.sli {
    width: 40vw;
    height: 300px;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.sli .carddata {
    padding: 0px 50px;
}

/* =========== */